/*DATABASE-OUTPUT VISNING*/
.tabellkolonne1
{ 
  color: #000000; 
  font-family: "Courier New", Courier, monospace; 
  font-size: 1.1em ; 
  background-color: #FF66CC; 
  font-weight: bold
}

.tabellkolonne2
{ 
  color: #000000; 
  font-family: "Courier New", Courier, mono; 
  font-size: 1.1em ; 
  background-color: #33BBCC; 
  font-weight: bold
}

